*{  margin: 0px;
    padding: 0px;}

header{/*border: 1px solid black;*/
    width: 100%;
    height: 3em;
    background-color: orange;}

header>nav{/*border: 1px solid black;*/
    width: 100%;
    height: 100%;}

/*header img{width: 20pt;
    height: 20pt;}*/

header>nav>div{/*border: 1px solid black;*/
display: inline-block;}

header button{/*border: 1px solid black;*/
    width: 90pt;
    height: 25pt;
    border-radius: 5pt;
    text-align: center;
    /*box-shadow: 1pt 1pt 2pt 0pt gray;*/
    /*margin: 0pt 2pt;*/}

/*.menu{width: 300pt;
    padding-left: 5pt;
    position: absolute;
    left: 0px;}*/

/*nav img{width: 300px;
height: 200px;
position: relative;
top: 0px;}*/

header .logo {position: absolute;
    top: -60px;
    left: 0px;}

header .logo img{width: 300px;}

header .login{position: absolute;
right: 20px;
top: 25px;
width: 400px;}

header .login>div{display: inline-block;}