body {
  padding: 0px;
  margin: 0px;
  color: black;
  background-color: #f5f5f5;
  font-size: 15px;
  width: 100%;
}
.home > section {
  display: flex;
  padding-bottom: 10px;
}
.home > section img {
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.home > section p {
  text-align: center;
  vertical-align: middle;
}
.home > section h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
.home > section .izquierda {
  background-color: white;
  border-radius: 5px;
}
.home > section .izquierda .random {
  width: 325px;
}
.home > section .izquierda .random a > button {
  border: 0;
  background: #566573;
  border-radius: 250px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 15px 15px;
  transition: all .1s linear;
  top: 25%;
  right: 25%;
  margin-left: 20px;
}
.home > section .izquierda .random a > button img {
  width: 250px;
  height: 250px;
}
.home > section .izquierda .random > a > button:active {
  box-shadow: 0 2px 0 #3f3f3f;
  transform: translateY(3px);
}
.home > section .derecha {
  background-color: white;
  border-radius: 5px;
  max-width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.home > section .derecha div {
  text-align: center;
}
.home > section .derecha div div {
  display: block;
}
.home > section .derecha div div div {
  margin: 0 auto;
  overflow-y: auto;
  height: auto;
  padding: 2px;
}
.home > section .derecha div div div div {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: solid 3px black;
  border-radius: 5px;
  height: auto;
  overflow-y: hidden;
}
.home > section .derecha div div div div p {
  border: solid 3px black;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.home > section .derecha div div .busqueda > a > button {
  border: 0;
  background: #566573;
  border-radius: 0px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  margin-bottom: 7px;
}
.home > section .derecha div div .busqueda > a > button img {
  width: 50px;
  height: 50px;
}
.home > section .derecha div div .busqueda > a > button:active {
  box-shadow: 0 2px 0 #3f3f3f;
  transform: translateY(3px);
}
/*!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!*/
header {
  /*border: 1px solid black*/
  width: 100%;
  height: 42pt;
  margin-bottom: 20pt;
  background-color: #eb5b0c;
  position: relative;
}
header nav {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}
/*header img{width: 20pt;
    height: 20pt;}*/
header nav div {
  display: inline-block;
}
header .logo {
  position: absolute;
  left: 250px;
}
header .logo img {
  width: 350px;
}
header .login {
  /*border: 1px solid black*/
  position: absolute;
  right: 0px;
  top: 8px;
  width: 250px;
  display: -webkit-flex;
  display: flex;
}
header .login > div {
  display: inline-block;
  margin: 0pt 5pt;
  float: right;
}
/* header .login>div:first-of-type{margin: 0pt;}*/
header .login img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0px;
  left: 0px;
}
/*!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!*/
footer {
  background: #ea5b0c;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: inline-block;
}
footer > div {
  display: inline-block;
}
footer > .enlaces {
  margin-left: 20pt;
  width: 400pt;
}
footer > .enlaces > div {
  display: inline-block;
  height: 20pt;
  margin-left: 30pt;
  margin-top: 10pt;
  top: 0px;
}
.rrssicon {
  width: 100pt;
  position: absolute;
  margin-top: 8pt;
  right: 20pt;
}
.rrssicon img {
  width: 25pt;
  margin-right: 5pt;
}
/*#firstoftheicons {margin-right: 90px;}*/
