body {
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 15px;
  width: 100%;
  background-color: #f5f5f5;
}
.home > section {
  display: flex;
}
.home > section img {
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.home > section p {
  text-align: center;
  vertical-align: middle;
}
.home > section h1 {
  /*border-bottom: 3px solid black;*/
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
.home > section .izquierda {
  width: 50%;
  position: relative;
  /*border: solid 3px black;*/
}
.home > section .izquierda .busqueda > a > button {
  border: 0;
  background: grey;
  border-radius: 0px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position: absolute;
  bottom: 10px;
  right: 3px;
}
.home > section .izquierda .busqueda > a > button img {
  width: 50px;
  height: 50px;
}
.home > section .izquierda .busqueda > a > button:active {
  box-shadow: 0 2px 0 grey;
  transform: translateY(3px);
}
.home > section .izquierda .random > a > button {
  border: 0;
  background: grey;
  border-radius: 250px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 15px 15px;
  transition: all .1s linear;
  position: absolute;
  top: 25%;
  right: 25%;
}
.home > section .izquierda .random > a > button img {
  width: 250px;
  height: 250px;
}
.home > section .izquierda .random > a > button:active {
  box-shadow: 0 2px 0 grey;
  transform: translateY(3px);
}
.home > section .derecha {
  width: 50%;
  /*border: solid 3px black;*/
}
.home > section .derecha div {
  text-align: center;
}
.home > section .derecha div div {
  margin: 0 auto;
  overflow-y: auto;
  height: 430px;
}
.home > section .derecha div div div {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  /*border: solid 3px black;*/
  border-radius: 5px;
  height: 125px;
  overflow-y: hidden;
}
.home > section .derecha div div div p {
  /*border: solid 3px black;*/
  border-radius: 5px;
}
/*header {
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;}*/

/*footer {
  border-bottom: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
}*/






/*!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!*/
header {
  /*border: 1px solid black*/
  width: 100%;
  height: 42pt;
  margin-bottom: 20pt;
  background-color: #eb5b0c;
  position: relative;
}
header nav {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}
/*header img{width: 20pt;
    height: 20pt;}*/
header nav div {
  display: inline-block;
}
header .logo {
  position: absolute;
  left: 100px;
}
header .logo img {
  width: 250px;
}
header .login {
  /*border: 1px solid black*/
  position: absolute;
  right: 0px;
  top: 8px;
  width: 250px;
  display: -webkit-flex;
  display: flex;
}
header .login > div {
  display: inline-block;
  margin: 0pt 5pt;
  float: right;
}
/* header .login>div:first-of-type{margin: 0pt;}*/
header .login img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0px;
  left: 0px;}






  /*!!!!!!!!!!!!!!!!HEADER HOME!!!!!!!!!!!!!!!!!!!*/
header {
  /*border: 1px solid black*/
  width: 100%;
  height: 42pt;
  margin-bottom: 20pt;
  background-color: #eb5b0c;
  position: relative;
}
header nav {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}
/*header img{width: 20pt;
    height: 20pt;}*/
header nav div {
  display: inline-block;
}
.headhome .logo {
  position: absolute;
  left: 35%;
  z-index: 1;
}
.headhome .logo img {
  width: 350px;
}
header .login {
  /*border: 1px solid black*/
  position: absolute;
  right: 0px;
  top: 8px;
  width: 250px;
  display: -webkit-flex;
  display: flex;
}
header .login > div {
  display: inline-block;
  margin: 0pt 5pt;
  float: right;
}
/* header .login>div:first-of-type{margin: 0pt;}*/
header .login img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0px;
  left: 0px;}





/*!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!*/


footer {
  background: #ea5b0c;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: inline-block;
}
footer > div {
  display: inline-block;
}
footer > .enlaces {
  margin-left: 20pt;
  width: 400pt;
}
footer > .enlaces > div {
  display: inline-block;
  height: 20pt;
  margin-left: 30pt;
  margin-top: 10pt;
  top: 0px;
}
.rrssicon {
  width: 100pt;
  position: absolute;
  margin-top: 8pt;
  right: 20pt;
}
.rrssicon img {
  width: 25pt;
  margin-right: 5pt;
}
/*#firstoftheicons {margin-right: 90px;}*/




/*preguntas*/
.asks{/*border: 1px solid black;*/
  width: 100%;
}

.asks > div{/*border: 1px solid red;*/
  display: inline-block;
  width: 100%;
  height: 185pt;
padding: 0px;
}
.asks>div>div{/*border: 1px solid black;*/
  width: 40%;
  height: 80%;
  display: inline-block;
  margin: 10pt 25pt;
  background-color: white;
  border-radius: 20pt;
}
.asks>div>.topizq{
  float: left;
}
.asks>div>.topder{
  float: right;
}
.asks>div>.downizq{
float: left;
}
.asks>div>.downder{
  float: right;
}
.asks .pregunta h3{
  text-align: center;
  padding: 5pt;
  font-size: 2em;
  height: 15pt;
}

.asks h5{
  text-align: center;
  font-size: 1.3em;
  margin: 10pt 0pt;
}

.asks form{
  text-align: center;
  padding: 8pt;
  font-size: 1.2em;
}

.asks>.askbutton{
  width: 1px;
  height: 20pt;
  position: absolute;
  top: 75%;
  left: 50%;
}

.asks>.askbutton img{
  width: 80pt;
  position: relative;
  left: -40pt;
}



/* HOME */
.home > section {
  display: flex;
  padding-bottom: 10px;
}
.home > section img {
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.home > section p {
  text-align: center;
  vertical-align: middle;
}
.home > section h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
.home > section .izquierda {
  background-color: white;
  border-radius: 5px;
}
.home > section .izquierda .random {
  width: 325px;
}
.home > section .izquierda .random a > button {
  border: 0;
  background: #566573;
  border-radius: 250px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 15px 15px;
  transition: all .1s linear;
  top: 25%;
  right: 25%;
  margin-left: 20px;
}
.home > section .izquierda .random a > button img {
  width: 250px;
  height: 250px;
}
.home > section .izquierda .random > a > button:active {
  box-shadow: 0 2px 0 #3f3f3f;
  transform: translateY(3px);
}
.home > section .derecha {
  background-color: white;
  border-radius: 5px;
  max-width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.home > section .derecha div {
  text-align: center;
}
.home > section .derecha div div {
  display: block;
}
.home > section .derecha div div div {
  margin: 0 auto;
  overflow-y: auto;
  height: auto;
  padding: 2px;
}
.home > section .derecha div div div div {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  /* border: solid 3px black; */
  border-radius: 5px;
  height: auto;
  overflow: hidden;
  padding: 1px;
}
.home > section .derecha div div div div p {
  /* border: solid 3px black; */
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.home > section .derecha div div .busqueda > a > button {
  border: 0;
  background: #566573;
  border-radius: 0px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  margin-bottom: 7px;
 
}
.home > section .derecha div div .busqueda > a > button img {
  width: 50px;
  height: 50px;
}
.home > section .derecha div div .busqueda > a > button:active {
  box-shadow: 0 2px 0 #3f3f3f;
  transform: translateY(3px);
}




/* Empieza el clickable de categorias */

#catpizza{
  content: url("img/comida/pizza.png");
  width: 100px;
  height: 100px;
}
#catpizza:checked {
  content: url("img/comida/pizza2.png");
}
#cathamburguesa{
  content: url("img/comida/burguer.png");
  width: 100px;
  height: 100px;
}
#cathamburguesa:checked {
  content: url("img/comida/burguer2.png");
}
#catbocadillo{
  content: url("img/comida/bocadillo.png");
  width: 100px;
  height: 100px;
}
#catbocadillo:checked {
  content: url("img/comida/bocadillo2.png");
}
#catensalada{
  content: url("img/comida/ensalada.png");
  width: 100px;
  height: 100px;
}
#catensalada:checked {
  content: url("img/comida/ensalada2.png");
}
#catsopa{
  content: url("img/comida/sopa.png");
  width: 100px;
  height: 100px;
}
#catsopa:checked {
  content: url("img/comida/sopa2.png");
}
#catcarne{
  content: url("img/comida/carne.png");
  width: 100px;
  height: 100px;
}
#catcarne:checked {
  content: url("img/comida/carne2.png");
}
#catpescado{
  content: url("img/comida/pescado.png");
  width: 100px;
  height: 100px;
}
#catpescado:checked {
  content: url("img/comida/pescado2.png");
}
#catpescado{
  content: url("img/comida/pescado.png");
  width: 100px;
  height: 100px;
}
#catpescado:checked {
  content: url("img/comida/pescado2.png");
}
#catpasta{
  content: url("img/comida/pasta.png");
  width: 100px;
  height: 100px;
}
#catpasta:checked {
  content: url("img/comida/pasta2.png");
}
#catkebab{
  content: url("img/comida/kebab.png");
  width: 100px;
  height: 100px;
}
#catkebab:checked {
  content: url("img/comida/kebab2.png");
}
#catsushi{
  content: url("img/comida/japonesa.png");
  width: 100px;
  height: 100px;
}
#catsushi:checked {
  content: url("img/comida/japonesa2.png");
}
#catarroz{
  content: url("img/comida/arroz.png");
  width: 100px;
  height: 100px;
}
#catarroz:checked {
  content: url("img/comida/arroz2.png");
}
#catvarios{
  content: url("img/comida/varios.png");
  width: 100px;
  height: 100px;
}
#catvarios:checked {
  content: url("img/comida/varios2.png");
}
.transparent {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Acaba el clickable de categorias*/



/* AYUDA */
/*css ayuda*/
body {
  background-color: #f5f5f5;
}
h1{
  margin: auto;
  margin-top:5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #C0CA33;
}
p{
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #C0CA33;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #D35400;
}
.contacto{
  margin:auto;
  width:70%;
  border: 4px solid #566573;
  border-radius: 10px;
  padding: 45px 45px 20px;
  margin-top: 50px;
  background-color: white;
}
.contacto label{
  text-align: center;
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
}
.contacto div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
}
.contacto input {
  text-decoration-color: #f5f5f5;
  padding: 6px 6px;
  width: 300px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  resize: none;
  box-shadow: 0 0 0 3px #f5f5f5;
}
.contacto textarea {
  padding: 70px 6px;
  width: 300px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  resize: none;
  box-shadow: 0 0 0 3px #f5f5f5;
}
.contacto input: :focus {
  box-shadow
  :none;
}
.nounderline {
  color: white;
  text-decoration: none;
}
/*
.contacto input [type:'text']: focus, .contacto textarea:focus{
  outline:none;
  box-shadow: 0 0 0 3px #f5f5f5;
}
.contacto input [type='submit']{
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 0 3px #f5f5f5;
  padding:8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0px white;
  
  background: #e4f1f6;
  background: -moz-linear-gradient(top,#e4f1f6 0%,#cfe6ef 100%);
  background: -webkit-repeating-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input [type='submit']:hover{
  background: #D35400;
  background: -moz-linear-gradient(top,#edfcff 0%,#cfe6ef 100%);
  background: -webkit-repeating-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input [type='submit']:active{
  background: #D35400;
  background: -moz-linear-gradient(top,#cfe6ef 0%,#edfcff 100%);
  background: -webkit-repeating-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}*/
/* FIN AYUDA CSS */