/*Empieza Diseño general*/
body {
  color: #C0CA33;
  background-color: #f5f5f5;
  font-family: Helvetica, arial;
  padding: 0px;
  margin: 0px;
  font-size: 15pt;
}
h1 {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 30px;
  color: #C0CA33;
}
/*Fin Diseño general*/
/* Empieza HEADER*/
header {
  width: 100%;
  height: 42pt;
  margin-bottom: 20pt;
  background-color: #eb5b0c;
  position: relative;
}
header nav {
  width: 100%;
  height: 100%;
}
header nav div {
  display: inline-block;
}
header .logo {
  position: absolute;
  left: 20px;
}
header .logo img {
  width: 250px;
}
header .login {
  position: absolute;
  right: 0px;
  top: 8px;
  width: 250px;
  display: -webkit-flex;
  display: flex;
}
header .login > div {
  display: inline-block;
  margin: 0pt 5pt;
  float: right;
}
header .login img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0px;
  left: 0px;
}
/*fin HEADER*/
/* Empieza FOOTER*/
footer {
  background: #ea5b0c;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: inline-block;
}
footer > div {
  display: inline-block;
}
footer > .enlaces {
  margin-left: 20pt;
  width: 400pt;
}
footer > .enlaces > div {
  display: inline-block;
  height: 20pt;
  margin-left: 30pt;
  margin-top: 15pt;
  top: 0px;
}
.rrssicon {
  width: 100pt;
  position: absolute;
  margin-top: 8pt;
  right: 20pt;
}
.rrssicon img {
  width: 25pt;
  margin-right: 5pt;
}
/*Fin FOOTER*/
/* Empieza HOME */
.home * h1 {
  margin: 0px;
}
.home section {
  display: flex;
  padding-bottom: 10px;
}
.home section p {
  text-align: center;
  vertical-align: middle;
}
.home section h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
.home .izquierda {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  border: 4px #566573 solid;
  position: relative;
}
.home .derecha {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  border: 4px #566573 solid;
}
.home .derecha div {
  text-align: center;
}
.home .subderecha {
  display: block;
}
.home .busqueda {
  margin: 0px 15px 0px 15px;
}
.home .busqueda a {
  margin: 0px;
}
.home .busqueda a img {
  margin: 0px;
  width: 75px;
  height: 75px;
}
.home .pretable {
  margin: 0 auto 0 auto;
  overflow-y: auto;
  padding: 5px;
  height: 380px;
}
.home .pretable div {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  overflow: hidden;
}
.home .transparent {
  width: 80px;
  height: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.home .pretable div #catpizza {
  content: url("img/comida/pizza.png");
}
.home .pretable div #cathamburguesa {
  content: url("img/comida/burguer.png");
}
.home .pretable div #catbocadillo {
  content: url("img/comida/bocadillo.png");
}
.home .pretable div #catensalada {
  content: url("img/comida/ensalada.png");
}
.home .pretable div #catsopa {
  content: url("img/comida/sopa.png");
}
.home .pretable div #catcarne {
  content: url("img/comida/carne.png");
}
.home .pretable div #catpescado {
  content: url("img/comida/pescado.png");
}
.home .pretable div #catpescado {
  content: url("img/comida/pescado.png");
}
.home .pretable div #catpasta {
  content: url("img/comida/pasta.png");
}
.home .pretable div #catkebab {
  content: url("img/comida/kebab.png");
}
.home .pretable div #catsushi {
  content: url("img/comida/japonesa.png");
}
.home .pretable div #catarroz {
  content: url("img/comida/arroz.png");
}
.home .pretable div #catvarios {
  content: url("img/comida/varios.png");
}
.home .pretable div #catpizza:checked {
  content: url("img/comida/pizza2.png");
}
.home .pretable div #cathamburguesa:checked {
  content: url("img/comida/burguer2.png");
}
.home .pretable div #catbocadillo:checked {
  content: url("img/comida/bocadillo2.png");
}
.home .pretable div #catensalada:checked {
  content: url("img/comida/ensalada2.png");
}
.home .pretable div #catsopa:checked {
  content: url("img/comida/sopa2.png");
}
.home .pretable div #catcarne:checked {
  content: url("img/comida/carne2.png");
}
.home .pretable div #catpescado:checked {
  content: url("img/comida/pescado2.png");
}
.home .pretable div #catpescado:checked {
  content: url("img/comida/pescado2.png");
}
.home .pretable div #catpasta:checked {
  content: url("img/comida/pasta2.png");
}
.home .pretable div #catkebab:checked {
  content: url("img/comida/kebab2.png");
}
.home .pretable div #catsushi:checked {
  content: url("img/comida/japonesa2.png");
}
.home .pretable div #catarroz:checked {
  content: url("img/comida/arroz2.png");
}
.home .pretable div #catvarios:checked {
  content: url("img/comida/varios2.png");
}
.home .pretable div p {
  margin: 3px 2px;
}
@media (max-width: 480px) {
  .home section {
    display: block;
  }
  .home .izquierda .random a img {
    margin: 0 0 10px 37%;
  }
  .home .busqueda a img {
    margin: 5px;
  }
}
@media (min-width: 320px) {
  .home .resultadoshome h1 {
    font-size: 30px;
  }
  .home.ingredientes h1 {
    font-size: 30px;
  }
  .home .izquierda .random a img {
    width: 100px;
    height: 100px;
  }
  .home .izquierda {
    margin: 5px;
  }
  .home .derecha {
    margin: 5px;
  }
}
@media (min-width: 481px) {
  .home .resultadoshome h1 {
    font-size: 20px;
  }
  .ingredientes h1 {
    font-size: 20px;
  }
  .home .izquierda .random a img {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  .home .izquierda {
    width: 200px;
    margin: 10px;
  }
  .home .derecha {
    margin: 10px;
  }
}
@media (min-width: 641px) {
  .home .transparent {
    width: 84px;
    height: 84px;
  }
  .home .resultadoshome h1 {
    font-size: 25px;
  }
  .home .ingredientes h1 {
    font-size: 25px;
  }
  .home .izquierda .random a img {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  .home .izquierda {
    width: 250px;
    margin: 10px;
  }
  .home .derecha {
    margin: 10px;
  }
}
@media (min-width: 961px) {
  .home .resultadoshome h1 {
    font-size: 30px;
  }
  .home .ingredientes h1 {
    font-size: 30px;
  }
  .home {
    font-size: 1.25em;
  }
  .home .transparent {
    width: 120px;
    height: 120px;
  }
  .home .izquierda .random a img {
    width: 200px;
    height: 200px;
    margin: 15px;
  }
  .home .pretable div {
    width: 125px;
    height: 170px;
    margin-bottom: 20px;
  }
  .home .pretable div p {
    margin-top: 5px;
  }
  .home .izquierda {
    width: 300px;
    margin: 15px;
  }
  .home .derecha {
    margin: 15px;
  }
}
@media (min-width: 1025px) {
  .home .resultadoshome h1 {
    font-size: 30px;
  }
  .home .ingredientes h1 {
    font-size: 30px;
  }
  .home .izquierda .random a img {
    width: 250px;
    height: 250px;
    margin: 20px;
  }
  .home .izquierda {
    width: 350px;
    margin: 20px;
  }
  .home .derecha {
    margin: 20px;
  }
}
@media (min-width: 1281px) {
  .home .resultadoshome h1 {
    font-size: 30px;
  }
  .home .ingredientes h1 {
    font-size: 30px;
  }
  .home .izquierda .random a img {
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  .home .izquierda {
    width: 350px;
    margin: 20px;
  }
  .home .derecha {
    margin: 20px;
  }
}
/* Fin clickable de categorias*/
/*fin HOME*/
/*Empieza PREGUNTAS*/
.asks {
  width: 100%;
}
.asks > div {
  display: inline-block;
  width: 100%;
  height: 185pt;
  padding: 0px;
}
.asks > div > div {
  border: 4px #566573 solid;
  width: 40%;
  height: 80%;
  display: inline-block;
  margin: 5pt 25pt;
  background-color: white;
  border-radius: 20pt;
}
.asks > div > .topizq {
  float: left;
}
.asks > div > .topder {
  float: right;
}
.asks > div > .downizq {
  float: left;
}
.asks > div > .downder {
  float: right;
}
.asks .pregunta h3 {
  text-align: center;
  padding: 5pt;
  padding-top: 10pt;
  font-size: 2em;
  height: 30pt;
}
.asks h5 {
  text-align: center;
  font-size: 1.3em;
  margin: 1pt 0pt;
  padding: 8pt 40pt 0pt 40pt;
}
.asks form {
  text-align: center;
  padding: 8pt;
  font-size: 1.2em;
}
.asks > .askbutton {
  width: 1px;
  height: 20pt;
  position: absolute;
  top: 75%;
  left: 50%;
}
.asks > .askbutton img {
  width: 80pt;
  position: relative;
  left: -40pt;
}
.asks>.askbutton a {
    font-size: 0px;
}
@media (max-width:450px) {
.asks>.fila {
    display: block;
    height: 477px;
    /* float: initial; */
}
.asks>.fila>div {
    width: 95%;
    margin: 5px 1%;
    float: initial;
    text-align: center;
    height: 220px;
}
.asks>.askbutton {
position: relative;
}
.asks>.askbutton>a {
    text-decoration-line: none;
    font-size: 0px;
    }
}
/*Fin RANDOM*/


/* Empieza AYUDA */
.ayuda p {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 20px;
  color: #C0CA33;
}
.contacto {
  margin: auto;
  width: 70%;
  border: 4px solid #566573;
  border-radius: 10px;
  padding: 20px 20px 20px;
  margin-top: 20px;
  background-color: white;
}
.contacto label {
  text-align: center;
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
}
.contacto div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 1px;
  width: 300px;
}
.contacto input {
  text-decoration-color: #f5f5f5;
  padding: 6px 6px;
  width: 300px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  resize: none;
  box-shadow: 0 0 0 3px #f5f5f5;
}
.contacto textarea {
  padding: 70px 6px;
  width: 300px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  resize: none;
  box-shadow: 0 0 0 3px #f5f5f5;
}
.contacto input :focus {
  box-shadow: none;
}
.nounderline {
  color: white;
  text-decoration: none;
}
/* FIN AYUDA */
/* Empieza Condiciones de uso*/
.condiciones {
  margin: auto;
  width: 70%;
  border: 4px solid #566573;
  border-radius: 10px;
  padding: 45px 45px 20px;
  margin-top: 50px;
  background-color: white;
  margin-bottom: 15px;
  height: 340px;
  overflow: auto;
}
.condh1 h1 {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 30px;
  color: #C0CA33;
}
.about {
  margin: auto;
  width: 70%;
  border: 4px solid #566573;
  border-radius: 10px;
  padding: 45px 45px 20px;
  margin-top: 50px;
  background-color: white;
  margin-bottom: 15px;
  overflow: auto;
}
.condiciones p {
  text-align: left;
  color: #566573;
  font-size: 12px;
}
.condiciones h2 {
  font-size: 16px;
}
/* Fin CONDICIONES*/
/* Empieza RESULTADOS */
section .result {
  margin: 50px auto 20px auto;
}
.result {
  display: flex;
}
.result h2 {
  font-size: 1.4em;
  text-align: center;
  color: #566573;
  margin-bottom: 15px;
}
.result h3 {
  color: #566573;
  font-size: 0.7em;
  margin: 5px 0;
}
.result img {
  width: 85%;
  height: 85%;
  border-radius: 5px;
}
.result a {
  text-decoration: none;
  color: #C0CA33;
}
.result button {
  width: 25px;
  height: 25px;
  background-image: url(img/icono/mas.png);
  border-radius: 50%;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  outline: none;
  border: 0px;
  vertical-align: middle;
}
.result input {
  cursor: pointer;
}
.result select {
  font-size: 0.7em;
  color: #C0CA33;
  border: 1px #C0CA33 solid;
}
.result select option {
  font-size: 1em;
  color: #C0CA33;
}
.result button:hover {
  box-shadow: 0 3px 34px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}
div.filtro {
  width: 15%;
  padding: 25px 10px;
  font-size: 0.5em;
  vertical-align: top;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  line-height: 1.3;
  border: 4px #566573 solid;
  height: 70%;
}
div.filtro > div {
  margin: 10px 0px;
}
div.resultados {
  width: 78%;
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  border: 4px #566573 solid;
}
div.divTableBody {
  margin: 40px 0px;
}
.result div > label {
  font-size: 0.7em;
  color: #C0CA33;
}
div.orden {
  text-align: right;
  margin-bottom: 15px;
  font-size: 0.9em;
}
div.divTableCell {
  width: 260px;
  height: 260px;
  padding: 5px;
  margin: 5px;
  perspective: 1000px;
  display: inline-block;
}
div.fotoproduct {
  width: 85%;
  padding: 0 8%;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
div.precio {
  height: 15%;
}
.divTableCell:hover .flipper,
.divTableCell.hover .flipper {
  transform: rotateY(180deg);
  background-color: #f5f5f5;
  border-radius: 5px;
}
.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
  height: 80%;
  margin-bottom: 10px;
}
.fotoproduct,
.back {
  backface-visibility: hidden;
  position: absolute;
  font-weight: normal;
}
.back {
  transform: rotateY(180deg);
  width: 100%;
}
div.back div {
  font-size: 0.6em;
  text-align: left;
  line-height: 0.8;
  color: #566573;
}
div.divTableCell > div {
  font-weight: bold;
  color: #566573;
}
div.fotoproduct span {
  font-size: 0.7em;
  color: #C0CA33;
}
input[type="range"] {
  width: 90%;
}
.result .busqueda {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}
.result .busqueda button {
  position: absolute;
  right: 10%;
  height: 30px;
  width: 30px;
}
.result .busqueda button img {
  text-align: center;
  height: 35px;
  width: 35px;
}
/* FIN RESULTADOS*/
/* Empieza SOBRE NOSOTROS */
.nosotros h1 {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 30px;
  color: #C0CA33;
}
/* FIN SOBRE NOSOTROS*/
