body {
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 15px;
  width: 100%;
}
.home > section {
  display: flex;
}
.home > section img {
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.home > section p {
  text-align: center;
  vertical-align: middle;
}
.home > section h1 {
  border-bottom: 3px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
.home > section .izquierda {
  width: 50%;
  position: relative;
  border: solid 3px black;
}
.home > section .izquierda .busqueda > a > button {
  border: 0;
  background: grey;
  border-radius: 0px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position: absolute;
  bottom: 10px;
  right: 3px;
}
.home > section .izquierda .busqueda > a > button img {
  width: 50px;
  height: 50px;
}
.home > section .izquierda .busqueda > a > button:active {
  box-shadow: 0 2px 0 grey;
  transform: translateY(3px);
}
.home > section .izquierda .random > a > button {
  border: 0;
  background: grey;
  border-radius: 250px;
  box-shadow: 0 5px 0 #3f3f3f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 15px 15px;
  transition: all .1s linear;
  position: absolute;
  top: 25%;
  right: 25%;
}
.home > section .izquierda .random > a > button img {
  width: 250px;
  height: 250px;
}
.home > section .izquierda .random > a > button:active {
  box-shadow: 0 2px 0 grey;
  transform: translateY(3px);
}
.home > section .derecha {
  width: 50%;
  border: solid 3px black;
}
.home > section .derecha div {
  text-align: center;
}
.home > section .derecha div div {
  margin: 0 auto;
  overflow-y: auto;
  height: 430px;
}
.home > section .derecha div div div {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: solid 3px black;
  border-radius: 5px;
  height: 125px;
  overflow-y: hidden;
}
.home > section .derecha div div div p {
  border: solid 3px black;
  border-radius: 5px;
}
header {
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
}
footer {
  border-bottom: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
}
/*!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!*/
header {
  /*border: 1px solid black*/
  width: 100%;
  height: 42pt;
  margin-bottom: 20pt;
  background-color: #eb5b0c;
  position: relative;
}
header nav {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}
/*header img{width: 20pt;
    height: 20pt;}*/
header nav div {
  display: inline-block;
}
header .logo {
  position: absolute;
  left: 50px;
}
header .logo img {
  width: 100px;
}
header .login {
  /*border: 1px solid black*/
  position: absolute;
  right: 0px;
  top: 8px;
  width: 250px;
  display: -webkit-flex;
  display: flex;
}
header .login > div {
  display: inline-block;
  margin: 0pt 5pt;
  float: right;
}
/* header .login>div:first-of-type{margin: 0pt;}*/
header .login img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0px;
  left: 0px;
}
/*!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!*/
footer {
  background: #ea5b0c;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: inline-block;
}
footer > div {
  display: inline-block;
}
footer > .enlaces {
  margin-left: 20pt;
  width: 400pt;
}
footer > .enlaces > div {
  display: inline-block;
  height: 20pt;
  margin-left: 30pt;
  margin-top: 10pt;
  top: 0px;
}
.rrssicon {
  width: 100pt;
  position: absolute;
  margin-top: 8pt;
  right: 20pt;
}
.rrssicon img {
  width: 25pt;
  margin-right: 5pt;
}
/*#firstoftheicons {margin-right: 90px;}*/

.asks{/*border: 1px solid black;*/
  width: 100%;
}

.asks > div{/*border: 1px solid red;*/
  display: inline-block;
  width: 100%;
  height: 200pt;
}
.asks>div>div{/*border: 1px solid black;*/
  width: 45%;
  height: 90%;
  display: inline-block;
  margin: 5pt 25pt;
  background-color: #eb5b0c;
  border-radius: 20pt;
}
.asks>div>.topizq{
  float: left;
}
.asks>div>.topder{
  float: right;
}
.asks>div>.downizq{
float: left;
}
.asks>div>.downder{
  float: right;
}
.asks .pregunta{
  text-align: center;
  padding: 20pt;
}
.asks form{
  text-align: center;
}